__pycache__
.env
.git
gen/
lab/
node_modules
vtx/config.yml
vtx/models/*
!lab/aitextgen
!lab/opencog
!lab/opencog/atomspace
!lab/source
!lab/fold
!lab/ink
!lab/pen
!lab/journals
!lab/research
!lab/pages

