__pycache__
.env
.git
gen/
lab/
node_modules
src/config.yml
src/models/*
!lab/aitextgen
!lab/opencog/atomspace
!lab/opencog/learn
!lab/source
!lab/fold
!lab/ink
!lab/pen
!lab/journals
!lab/research
!lab/pages