.env
!examples/bot/.env
__pycache__
data/*
node_modules
src/config.yml
src/models/*
src/adapters/*
src/embeddings/*
src/*.html
src/*.xml
lab/*
lab/logseq/*
lab/config.yml
!lab/logseq/config.edn
!lab/pages
!lab/journals
book/content/**/
book/static/tests
book/resources
book/public
!.keep
