[submodule "lab/research"]
	path = lab/research
	url = https://github.com/SocioProphet/clymer_research
[submodule "aitextgen"]
	path = lab/aitextgen
	url = https://github.com/LuciferianInk/aitextgen.git
	branch = dev
[submodule "lab/source"]
	path = lab/source
	url = https://gitlab.com/the-resistance/thesource.fm
[submodule "lab/ink"]
	path = lab/ink
	url = https://gitlab.com/singulari-org/ink.university
[submodule "lab/pen"]
	path = lab/pen
	url = https://gitlab.com/the-resistance/pen.university
[submodule "lab/cp"]
	path = lab/cp
	url = https://gitlab.com/hollowpoint-org/carrotpredator.com
[submodule "lab/reaper"]
	path = lab/reaper
	url = https://gitlab.com/hollowpoint-org/reaper
[submodule "lab/home"]
	path = lab/home
	url = https://gitlab.com/hollowpoint-org/luciferian.ink
[submodule "lab/ELIZA"]
	path = lab/ELIZA
	url = https://gitlab.com/original-design/eliza
[submodule "lab/opencog/learn"]
	path = lab/opencog/learn
	url = https://github.com/opencog/learn
[submodule "lab/fold"]
	path = lab/fold
	url = https://gitlab.com/singulari-org/the-fold
[submodule "lab/rwkv-cuda"]
	path = lab/rwkv-cuda
	url = https://github.com/BlinkDL/RWKV-CUDA
[submodule "lab/drm"]
	path = lab/drm
	url = https://github.com/0-5788719150923125/drm.git
[submodule "labs/atomspace"]
	path = lab/opencog/atomspace
	url = https://github.com/opencog/atomspace
[submodule "lab/opencog/ure"]
	path = lab/opencog/ure
	url = https://github.com/opencog/ure
[submodule "lab/opencog/link-grammar"]
	path = lab/opencog/link-grammar
	url = https://github.com/opencog/link-grammar
[submodule "lab/opencog/asmoses"]
	path = lab/opencog/asmoses
	url = https://github.com/opencog/asmoses
[submodule "lab/opencog/cogutil"]
	path = lab/opencog/cogutil
	url = https://github.com/opencog/cogutil
