[submodule "lab/research"]
	path = lab/research
	url = https://github.com/SocioProphet/clymer_research
[submodule "aitextgen"]
	path = lab/aitextgen
	url = https://github.com/LuciferianInk/aitextgen.git
	branch = dev
[submodule "lab/source"]
	path = lab/source
	url = https://gitlab.com/the-resistance/thesource.fm
[submodule "lab/ink"]
	path = lab/ink
	url = https://gitlab.com/singulari-org/ink.university
[submodule "lab/pen"]
	path = lab/pen
	url = https://gitlab.com/the-resistance/pen.university
[submodule "lab/cp"]
	path = lab/cp
	url = https://gitlab.com/hollowpoint-org/carrotpredator.com
[submodule "lab/reaper"]
	path = lab/reaper
	url = https://gitlab.com/hollowpoint-org/reaper
[submodule "lab/home"]
	path = lab/home
	url = https://gitlab.com/hollowpoint-org/luciferian.ink
