__pycache__
.env
!examples/lab/.env
data/*
src/config.yml
# lab/*
# lab/logseq/*
# !lab/logseq/config.edn
# !lab/pages
# !lab/journals
# !lab/library
# lab/library/original
# lab/library/train
book/content/**/
book/static/tests
book/resources
book/public
book/static/tests
!.keep
!.gitignore
