.env
__pycache__
gen/*
input*.txt*
lab/*
lab/logseq/*
lab/texts/*
lab/config.yml
node_modules
/vtx/aitextgen*
vtx/gpt/*
vtx/gun
!.keep
!lab/*.mp4
!lab/logseq/config.edn
!lab/texts/a.txt
!lab/texts/B.txt
