matrix-nio[e2e]>=0.22.0
ray>=2.7.1
peft>=0.5.0
petals>=2.2.0
pydantic<2.0.0
# /lab/lightning-hivemind
# git+https://github.com/huggingface/peft.git
# git+https://github.com/IBM/ModuleFormer.git
/lab/ModuleFormer
# /src/aigen